.top-navbar {
  width: 40%;
  background-color: #333333;
  border-bottom: 5px solid #04aa6d;
  margin: 50px 0;
}

.top-navbar ul {
  display: flex;
}

.top-navbar ul li a {
  display: block;
  padding: 20px 16px;
  color: #f2f2f2;
  transition: 0.2s;
}

.top-navbar ul li a:hover {
  background-color: #ddd;
  color: #030405;
}

.top-navbar ul li.active a {
  background-color: #04aa6d;
  color: #f2f2f2;
}
