.tab-two__background {
  width: 100%;
  height: 600px;
  background-color: #16a085;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-two {
  width: 500px;
}

.tab-two__links ul {
  display: flex;
}

.tab-two__links ul li {
  width: 50%;
  background-color: var(--tab-black);
  color: #fff;
  text-align: center;
  padding: 20px 0 calc(var(--tab-border-radius) + 20px);
  border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0;
  font-weight: bold;
  position: relative;
  top: var(--tab-border-radius);
  z-index: 0;
  transition: 0.8s;
}

.tab-two__links ul li:hover {
  cursor: pointer;
}

.tab-two__links ul li.active {
  background-color: #fff;
  color: var(--tab-black);
}

@keyframes formFadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.tab-two__content form {
  overflow: hidden;
  height: 0;
}

.tab-two__content form.active {
  height: min-content;
  animation: formFadeInUp 0.5s ease-out;
}

.tab-two__content form > div {
  display: flex;
  flex-direction: column;
}

.tab-two__content form > div:nth-child(n + 2) {
  margin-top: 25px;
}

.tab-two__content {
  background-color: #fff;
  padding: 36px 45px;
  border-radius: var(--tab-border-radius);
  position: relative;
  z-index: 1;
  box-shadow: 0 6px 5px #555;
}

.tab-two__content input {
  margin: 10px 0;
  padding: 12px 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.tab-two__content p {
  font-size: 12px;
  color: #aaa;
}

.tab-two__content button {
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 15px;
  padding: 14px 24px;
  margin-top: 20px;
  float: right;
}

.tab-two__content button:hover {
  background-color: #005bff;
  cursor: pointer;
}

/* tab 3 */
.tab-three__background {
  background-color: #f4f6fa;
  width: 100%;
}

.tab-three {
  width: 750px;
  padding: 0 10px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px #999;
}

.tab-three__title {
  font-size: 24px;
  text-align: center;
  color: #424670;
  padding: 30px 0 20px;
}

.tab-three__links ul {
  display: flex;
  align-items: center;
  height: 160px;
}

.tab-three__links ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 150px;
  transition: 0.3s;
}

.place-name {
  position: absolute;
  display: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 2px 2px 5px #000;
}

@keyframes placeNameFadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.tab-three__links li:hover,
.tab-three__links li.active {
  width: 160px;
  height: 160px;
}

.tab-three__links li:hover .place-name,
.tab-three__links li.active .place-name {
  display: block;
  will-change: transform;
  animation: placeNameFadeIn 0.5s ease-in-out;
}

.tab-three__links img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px;
  transition: 0.5s linear;
  filter: grayscale(100%) blur(3px);
}

.tab-three__links li:hover img,
.tab-three__links li.active img {
  filter: none;
}

.tab-three__content {
  height: 750px;
  padding-bottom: 10px;
}

.tab-three__content > div {
  display: none;
}

.tab-three__content > div.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tab-three__content > div.active .question-mark-circle {
  visibility: hidden;
  position: absolute;
  left: 25px;
  top: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: opacity 0.4s;
  opacity: 0;
}

.tab-three__content > div.active .question-mark-circle.active {
  visibility: visible;
  opacity: 1;
}

.tab-three__content > div.active .question-mark-circle:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #555;
  cursor: pointer;
}

@keyframes questionMarkSwing {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

.tab-three__content > div.active .fa-question {
  color: #fff;
  animation: questionMarkSwing 1s ease-in-out infinite;
}

.tab-three__content > div.active .question-mark-circle:hover .fa-question {
  color: #f00;
}

.tab-three__content > div.active > .modal--img-top {
  display: none;
  box-shadow: 0 10px 15px #555;
}

@keyframes modalSlideFromLeft {
  from {
    opacity: 0;
    transform: skewX(5deg) translateX(-30px);
  }
  to {
    opacity: 1;
  }
}
.tab-three__content > div.active > .modal--img-top.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  padding: 25px;
  animation: modalSlideFromLeft 0.4s ease-in-out;
}

@keyframes placeImgFadeIn {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.tab-three__content > div.active img {
  box-sizing: border-box;
  width: 750px;
  height: 750px;
  padding: 5px;
  object-fit: cover;
  border-radius: 20px;
  animation: placeImgFadeIn 0.5s ease-in;
  transition: filter 0.4s;
}

.tab-three__content .content__title {
  font-size: 24px;
  margin-bottom: 25px;
}

.tab-three__content .content__text {
  line-height: 26px;
  font-size: 16px;
}

.tab-three__content .content__detail-link {
  text-transform: uppercase;
  background-color: #0b5ed7;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.4s;
}

.tab-three__content .content__detail-link:hover {
  background-color: #0dcaf0;
  color: #333;
}

.modal__exit {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: font-size 0.2s;
}

.modal__exit:hover {
  font-size: 30px;
}

.modal--make-gray {
  filter: blur(3px) grayscale(50%);
}

/********************* checkbox tab *********************/

/* checkbox tab - CONTAINER */
.checkbox-tab__container {
  background-color: #191828;
  color: #efedef;
  width: 800px;
  height: 500px;
  font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  padding: 100px;
  margin: 50px;
  position: relative;
  overflow: hidden;
}

/* checkbox tab - TITLE */
@keyframes titleChangeColor {
  0% {
    color: #f00;
  }
  33% {
    color: #0f0;
  }
  66% {
    color: #00f;
  }
  100% {
    color: #f00;
  }
}

.checkbox-tab__container h2 {
  font-size: 40px;
  line-height: 1.1em;
  animation: titleChangeColor 0.8s linear infinite;
}

.checkbox-tab__container h2 span {
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
}

/* checkbox tab - ANCHOR at corner */
@keyframes anchorBigSmallAlt {
  from {
    transform: scale(1.1) rotate(45deg);
  }
  to {
    transform: scale(0.9) rotate(45deg);
  }
}
.checkbox-tab__container a {
  background-color: #fd264f;
  color: #fff;
  display: block;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: absolute;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  animation: anchorBigSmallAlt 1s ease-in-out infinite;
}

.checkbox-tab__container input:focus {
  outline: none;
}

.checkbox-tab__container .tabs {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0;
  overflow: hidden;
}

/* checkbox-tab LABEL */
.checkbox-tab__container .tabs [class^="tab"] label {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

/* checkbox-tab RADIO BTN */
.checkbox-tab__container .tabs [class^="tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  appearance: none;
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.checkbox-tab__container .tabs [class^="tab"] [type="radio"]:focus,
.checkbox-tab__container .tabs [class^="tab"] [type="radio"]:hover {
  border-bottom: 1px solid #fd264f;
}

.checkbox-tab__container .tabs [class^="tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fd264f;
}

/* checkbox-tab CONTENT */
.checkbox-tab__container .tabs [class^="tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.checkbox-tab__container .tabs [class^="tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  transition: all 0.3s ease-in-out;
}

/* .checkbox-tab__container .tabs .tab-2 {
  width: 50%;
} */

.checkbox-tab__container .tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}

.checkbox-tab__container .tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.checkbox-tab__container .tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}

.checkbox-tab__container .tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}

/*********************** SLIDE TAB ***********************/

/* Entire Container */
.slide-tabs {
  margin: 50px 0;
  width: 700px;
  overflow: hidden;
}

/* Single Tab */
.slide-tab {
  height: 100px;
  display: flex;
  position: relative;
}

/* Radio Button */
.slide-tab input[type="radio"] {
  width: 20px;
  height: 100%;
  appearance: none;
  margin: 0;
  position: absolute;
  left: 0;
  z-index: 1;
}

.slide-tab input[type="radio"]:hover {
  cursor: pointer;
}

.slide-tab input[type="radio"]:checked {
  cursor: default;
}

/* Radio Button Colors - On Hover */
.slide-tab:nth-child(1) input[type="radio"]:hover {
  background-color: #e05858;
}
.slide-tab:nth-child(2) input[type="radio"]:hover {
  background-color: #eaa56a;
}
.slide-tab:nth-child(3) input[type="radio"]:hover {
  background-color: #dde788;
}
.slide-tab:nth-child(4) input[type="radio"]:hover {
  background-color: #70efc6;
}

/* Radio Button Colors */
.slide-tab:nth-child(1) input[type="radio"],
.slide-tab:nth-child(1) input[type="radio"]:checked {
  background-color: #f06868;
}
.slide-tab:nth-child(2) input[type="radio"],
.slide-tab:nth-child(2) input[type="radio"]:checked {
  background-color: #fab57a;
}
.slide-tab:nth-child(3) input[type="radio"],
.slide-tab:nth-child(3) input[type="radio"]:checked {
  background-color: #edf798;
}
.slide-tab:nth-child(4) input[type="radio"],
.slide-tab:nth-child(4) input[type="radio"]:checked {
  background-color: #80ffd6;
}

/* Slide Tab Content */
.slide-tab__content {
  width: calc(100% - 20px);
  height: 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  border-radius: 0 50px 50px 0;

  margin-left: -200%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide-tab input[type="radio"]:checked + .slide-tab__content {
  margin-left: 20px;
  opacity: 1;
}

/* Slide Tab Content - Background Colors */
.slide-tab:nth-child(1) .slide-tab__content {
  background-color: #f06868;
}
.slide-tab:nth-child(2) .slide-tab__content {
  background-color: #fab57a;
  margin-top: -100px;
}
.slide-tab:nth-child(3) .slide-tab__content {
  background-color: #edf798;
  margin-top: -200px;
}
.slide-tab:nth-child(4) .slide-tab__content {
  background-color: #80ffd6;
  margin-top: -300px;
}

/* Inner Text of Slide Tab Content */
.slide-tab__content h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.slide-tab__content p {
  line-height: 1.6em;
  margin-top: 10px;
  width: 600px;
  text-align: justify;
}
